<p>setlists/edit</p>

<%= render 'form'%>
<br>



<br><br>
<%=form_tag(controller: "setlists", action: "add_song", method: "post") do %>
<%=select('add_song', 'add_song', options_for_select(current_user.songs.collect{ |s| [s.title] })) %>
<%= submit_tag  %>
<%end%>


<% current_user.setlist_songs.each do |s| %>
<%= s.title %><br>
<%end%>


<br><br>











