<p>setlists/edit</p>

<%= render 'form'%>
<br>



<br><br>
<%=form_tag(controller: "setlists", action: "add_song") do %>
<%=select('Add Song', 'add_song', options_for_select(current_user.songs.collect{ |s| [s.title] })) %>
<%= submit_tag  'Add Song To Setlist' %>
<%end%>

<% @setlist.songs.each do |s|%>
<li> <%= s.title%> </li>
<br>
<%end%>

<%#@binding.pry%>


<br><br>











