<div class="flex-row">
  <div class="col-xs-1"></div>
    <div class="col-xs-5">

      <div class="info">
        <h2 class="bold"><%= @setlist.name %> </h2> <br><br>
      </div>

      <div id="setlist-<%=@setlist.id%>-songs">
        <%# binding.pry %>
      <% @setlist.songs.each do |s|%>
        <div id="song-<%=s.id%>">
          <h3><a href="<%=s.song_url%>"><%= s.title%></a></h3> - <%= link_to "remove", destroy_song_path(@setlist), :class => "destroy_song" %>

          <%end%>

        </div>
      </div>
    </div>


      <div class="col-xs-5">
        <% if current_user %>
              <%= link_to "Edit setlist", edit_setlist_path(@setlist) , :class => "edit_song" %></p>
            <% else %>
              <%= link_to "Create Your Own Account", new_user_registration_path %>
              </form>
        <% end %>


      <br><br>

      <div class="col-xs-1"></div>
    </div>

  </div>
