<div class="info">  
  <p>Name: <%= @setlists.name %><br>
  Comments: <%= @setlists.comments %><br>
</div>

<% @setlists.songs.each do |s|%>
<li><%= s.title%><br>
<a href="<%= s.song_url%>"target="_blank"> Link to listen </a><br>
<% if current_user && current_user.id == @setlists.user_id %>
<%= s.comments %>

<%end%>
<br><br>
<%end%>

<br><br>

<% if current_user %>
      <%= link_to "Edit setlist", edit_setlist_path %></p>
    <% else %>
      <%= link_to "Create Your Own Account", new_user_registration_path %>
      </form>
<% end %>