<div class="info">
  <p>Name: <%= @setlist.name %><br>
  Comments: <%= @setlist.comments %><br>
</div>



<% @setlist.songs.each do |s|%>
<div id=setlist_song_show>
<li><%= s.title%><br>
<a href="<%= s.song_url%>"target="_blank"> Link to listen </a><br>
<% if current_user && current_user.id == @setlist.user_id %>
<%= s.comments %>
<%end%>
</div>

<br><br>

<%end%>


<% if current_user %>
      <%= link_to "Edit setlist", edit_setlist_path(@setlist) , :class => "edit_song" %></p>
    <% else %>
      <%= link_to "Create Your Own Account", new_user_registration_path %>
      </form>
<% end %>
