<div class="flex-row">
  <div class="col-xs-1"></div>

  <div class="col-xs-5">
    <h2>Your Setlists</h2>
      <button type=button><%= link_to "New Setlist", { :controller => :setlists, :action => :new }, class: "link_to_setlist_form" %></button>
      <div class="new_setlist_form"></div>
    <br>
    <% current_user.setlists.each do |s| %>
      <div id="setlist-<%= s.id %>" data-id="<%= s.id %>">
        <a class="load_setlist_songs" href="/setlists/<%=s.id%>" ><br>
          <%= s.name %><br>
        </a>
      </div>
    <%end%>
    <br>
  </div>

  <div class="col-xs-5">
    <div class="list_setlist_songs"></div>
  </div>

  <div class="col-xs-1"></div>
</div>
