<div class="song-titles">
  <br>
  <% current_user.songs.reverse.each do |song| %>

  <div id="song-<%= song.id %>">
    <li><a
      class="song-link"
      data-id="<%= song.id %>"
      href="songs/<%=song.id %>">
      <%= song.title %></a><br></li>
    <li><a
      href="<%=song.song_url %>"
      target="_blank">Link to Listen</a></li>
        <div id="song-<%= song.id %>-details"></div>
      </div>
    <br>
  <% end %>
</div>
