<!-- <% if false %> -->
<div class="info">

  <p>doijdoijdoijd</p>

Name: <%= @song.title %><br>
Artist: <%= @song.artist %><br>
Comments: <%= @song.comments %><br>
<a href="<%=@song.song_url%>"target="_blank"> Link to song </a>



<% if @current_user %>

      <form action="/songs/new" method="post">
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <%= tag(:input, :type => "hidden", :name => :user_id, :value => current_user.id) %>
        <%= tag(:input, :type => "hidden", :name => :song_id, :value => @song.id) %>
      </form>
    <% end %>

  </div>
 <% end %>
