<!DOCTYPE html>
<html>
<head>
  <title>SetlistMaker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if current_user %>
    | Signed in as <%= current_user.email%> |

<% end %>
      <br><br>
<% if current_user %>
    <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
    <%= link_to "View Songs", songs_path, :class => "view_songs"%>
    <% else %>
    <%= link_to "Sign in", new_user_session_path %> |
    <%= link_to "Sign up", new_user_registration_path %> |
    <%= link_to "Sign in with Github", user_github_omniauth_authorize_path %>
<% end %>


    <br><br>
-----------------------------------------------------
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
